* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#355C7D, #6C5B7B, #C06C84);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px;
}

.box {
    color: #FFEFBA;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    line-height: 2;
}

#number,
#name {
    color: #FFEFBA;
    width: 350px;
    height: 180px;
    font-size: 60px;
    text-align: center;
    border: #DECBA4;
    border-style: dashed;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
}

.btn {
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    border: 2px solid #3E5151;
    background-color: #40E0D0;
    margin: 20px 0;
}

.btn:hover {
    background-color: #3E5151;
    box-shadow: inset 5px;
    cursor: pointer;
}

#userName {
    font-size: 60px;
    color: #DECBA4;
    width: 450px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#myName {
    font-size: 80px;
    color: #DECBA4;
}